Dsl/GeneratedCode/vShomeSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="vShomeSchema" targetNamespace="http://schemas.microsoft.com/dsltools/vShome" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/vShome" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- ModelRoot -->
  <xsd:element name="modelRoot" type="ModelRoot" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelRoot">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ModelRootHasFeatures -->
          <xsd:element name="features" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelRootHasFeatures</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelRootHasFeatures" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelRootHasFeatures needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModelRootHasDevices -->
          <xsd:element name="devices" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelRootHasDevices</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelRootHasDevices" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelRootHasDevices needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: Port -->
        <xsd:attribute name="port" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRoot Moniker -->
  <xsd:element name="modelRootMoniker" type="ModelRootMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelRootMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelRoot instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Feature -->
  <xsd:element name="feature" type="Feature" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Feature">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: FeatureReferencesActuator -->
          <xsd:element name="actuator" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of FeatureReferencesActuator</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="featureReferencesActuator" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of FeatureReferencesActuator needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: FeatureReferencesFather -->
          <xsd:element name="father" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of FeatureReferencesFather</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="featureReferencesFather" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of FeatureReferencesFather needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: FeatureReferencesSensor -->
          <xsd:element name="sensor" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of FeatureReferencesSensor</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="featureReferencesSensor" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of FeatureReferencesSensor needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: FeatureReferencesBrother -->
          <xsd:element name="brother" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of FeatureReferencesBrother</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="featureReferencesBrother" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of FeatureReferencesBrother needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: FeatureReferencesAlternatives -->
          <xsd:element name="alternatives" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of FeatureReferencesAlternatives</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="featureReferencesAlternatives" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of FeatureReferencesAlternatives needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: FeatureType -->
        <xsd:attribute name="featureType" type="FeatureType" />
        <!-- Property: Serial -->
        <xsd:attribute name="serial" type="xsd:string" />
        <!-- Property: FeatureName -->
        <xsd:attribute name="featureName" type="FeatureName" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Feature Moniker -->
  <xsd:element name="featureMoniker" type="FeatureMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="FeatureMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Feature instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Device -->
  <xsd:element name="device" type="Device" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Device">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: ReturnType -->
        <xsd:attribute name="returnType" type="ReturnType" />
        <!-- Property: DeviceType -->
        <xsd:attribute name="deviceType" type="DeviceType" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Device Moniker -->
  <xsd:element name="deviceMoniker" type="DeviceMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DeviceMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Device instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FeatureReferencesActuator -->
  <xsd:element name="featureReferencesActuator" type="FeatureReferencesActuator" substitutionGroup="core:modelElement" />
  <xsd:complexType name="FeatureReferencesActuator">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Device -->
          <xsd:element ref="deviceMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FeatureReferencesActuator Moniker -->
  <xsd:element name="featureReferencesActuatorMoniker" type="FeatureReferencesActuatorMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="FeatureReferencesActuatorMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for FeatureReferencesActuator instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FeatureReferencesFather -->
  <xsd:element name="featureReferencesFather" type="FeatureReferencesFather" substitutionGroup="core:modelElement" />
  <xsd:complexType name="FeatureReferencesFather">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Feature -->
          <xsd:element ref="featureMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FeatureReferencesFather Moniker -->
  <xsd:element name="featureReferencesFatherMoniker" type="FeatureReferencesFatherMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="FeatureReferencesFatherMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for FeatureReferencesFather instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRootHasFeatures -->
  <xsd:element name="modelRootHasFeatures" type="ModelRootHasFeatures" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelRootHasFeatures">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Feature -->
          <xsd:element ref="feature" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRootHasFeatures Moniker -->
  <xsd:element name="modelRootHasFeaturesMoniker" type="ModelRootHasFeaturesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelRootHasFeaturesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelRootHasFeatures instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRootHasDevices -->
  <xsd:element name="modelRootHasDevices" type="ModelRootHasDevices" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelRootHasDevices">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Device -->
          <xsd:element ref="device" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRootHasDevices Moniker -->
  <xsd:element name="modelRootHasDevicesMoniker" type="ModelRootHasDevicesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelRootHasDevicesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelRootHasDevices instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FeatureReferencesSensor -->
  <xsd:element name="featureReferencesSensor" type="FeatureReferencesSensor" substitutionGroup="core:modelElement" />
  <xsd:complexType name="FeatureReferencesSensor">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Device -->
          <xsd:element ref="deviceMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FeatureReferencesSensor Moniker -->
  <xsd:element name="featureReferencesSensorMoniker" type="FeatureReferencesSensorMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="FeatureReferencesSensorMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for FeatureReferencesSensor instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FeatureReferencesBrother -->
  <xsd:element name="featureReferencesBrother" type="FeatureReferencesBrother" substitutionGroup="core:modelElement" />
  <xsd:complexType name="FeatureReferencesBrother">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Feature -->
          <xsd:element ref="featureMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FeatureReferencesBrother Moniker -->
  <xsd:element name="featureReferencesBrotherMoniker" type="FeatureReferencesBrotherMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="FeatureReferencesBrotherMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for FeatureReferencesBrother instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FeatureReferencesAlternatives -->
  <xsd:element name="featureReferencesAlternatives" type="FeatureReferencesAlternatives" substitutionGroup="core:modelElement" />
  <xsd:complexType name="FeatureReferencesAlternatives">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Feature -->
          <xsd:element ref="featureMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- FeatureReferencesAlternatives Moniker -->
  <xsd:element name="featureReferencesAlternativesMoniker" type="FeatureReferencesAlternativesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="FeatureReferencesAlternativesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for FeatureReferencesAlternatives instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum AccessModifier -->
  <xsd:simpleType name="AccessModifier">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Public"/>
      <xsd:enumeration value="Assembly"/>
      <xsd:enumeration value="Private"/>
      <xsd:enumeration value="Family"/>
      <xsd:enumeration value="FamilyOrAssembly"/>
      <xsd:enumeration value="FamilyAndAssembly"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TypeAccessModifier -->
  <xsd:simpleType name="TypeAccessModifier">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Public"/>
      <xsd:enumeration value="Private"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum InheritanceModifier -->
  <xsd:simpleType name="InheritanceModifier">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="Abstract"/>
      <xsd:enumeration value="Sealed"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Multiplicity -->
  <xsd:simpleType name="Multiplicity">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ZeroMany"/>
      <xsd:enumeration value="One"/>
      <xsd:enumeration value="ZeroOne"/>
      <xsd:enumeration value="OneMany"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum OperationConcurrency -->
  <xsd:simpleType name="OperationConcurrency">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Sequential"/>
      <xsd:enumeration value="Guarded"/>
      <xsd:enumeration value="Concurrent"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum ReturnType -->
  <xsd:simpleType name="ReturnType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BOOL"/>
      <xsd:enumeration value="INFO"/>
      <xsd:enumeration value="RANGE"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum FeatureName -->
  <xsd:simpleType name="FeatureName">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UserAirConditionerControl"/>
      <xsd:enumeration value="UserIlumination"/>
      <xsd:enumeration value="AutomatedIluminationByLuminosity"/>
      <xsd:enumeration value="AutomatedWindowControl"/>
      <xsd:enumeration value="AutomatedIluminationByPresence"/>
      <xsd:enumeration value="PresenceIlusion"/>
      <xsd:enumeration value="AutomatedAirConditionerControl"/>
      <xsd:enumeration value="UserWindowControl"/>
      <xsd:enumeration value="PanicMode"/>
      <xsd:enumeration value="AlarmAgainstRobbery"/>
      <xsd:enumeration value="LockDoors"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum DeviceType -->
  <xsd:simpleType name="DeviceType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Actuator"/>
      <xsd:enumeration value="Sensor"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum FeatureType -->
  <xsd:simpleType name="FeatureType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="OR"/>
      <xsd:enumeration value="Mandatory"/>
      <xsd:enumeration value="Alternative"/>
      <xsd:enumeration value="Optional"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

